*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:Inter,sans-serif;

    color:white;

    background:
    radial-gradient(circle at top,#37205d 0%,#12071f 35%,#07040d 100%);

    overflow-x:hidden;

}

section{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    padding:80px 10%;

}

h1{

    font-size:5rem;

    text-align:center;

    font-weight:700;

}

h2{

    font-size:2.5rem;

    margin-bottom:25px;

}

p{

    color:#d3c8f4;

    max-width:750px;

    line-height:1.9;

    text-align:center;

}

button{

    margin-top:40px;

    padding:18px 42px;

    border:none;

    border-radius:999px;

    background:#7b3ff7;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.35s;

    box-shadow:0 0 40px rgba(130,70,255,.45);

}

button:hover{

    transform:translateY(-4px);

    background:#9f73ff;

    box-shadow:0 0 70px rgba(140,90,255,.7);

}
.card{

background:rgba(255,255,255,.05);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.08);

border-radius:25px;

padding:40px;

width:min(900px,100%);

box-shadow:

0 25px 60px rgba(0,0,0,.45);

}
.card{

background:rgba(255,255,255,.05);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.08);

border-radius:25px;

padding:40px;

width:min(900px,100%);

box-shadow:

0 25px 60px rgba(0,0,0,.45);

}
.gallery{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(230px,1fr));

gap:22px;

margin-top:45px;

width:100%;

}

.gallery img{

width:100%;

border-radius:18px;

transition:.4s;

cursor:pointer;

box-shadow:

0 20px 40px rgba(0,0,0,.35);

}

.gallery img:hover{

transform:scale(1.04);

}
#stars{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background-image:

radial-gradient(white 1px,transparent 1px);

background-size:70px 70px;

opacity:.22;

animation:moveStars 90s linear infinite;

pointer-events:none;

z-index:-1;

}

@keyframes moveStars{

from{

transform:translateY(0);

}

to{

transform:translateY(300px);

}

}
